# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv/
env/
venv/
ENV/
env.bak/
.idea/
*.DS_Store

# Jupyter Notebooks
.ipynb_checkpoints

# VSCode
.vscode/

# Mac
.DS_Store

# Logs
*.log

# OS-specific
Thumbs.db
ehthumbs.db

# PyTorch cache
~/.cache/torch
